let mapleader = " "
nnoremap <Space> <Nop>
set scrolloff=5
set incsearch
set surround
map Q gq
set easymotion
set relativenumber
set clipboard+=unnamed
set ignorecase
set smartcase
set incsearch
set hlsearch
nnoremap d "_d
xnoremap d "_d
set highlightedyank
set sneak
set easymotion
set notimeout
set which-key

map <Leader>rf <action>(RecentFiles)

map <Leader>zd <action>(ToggleDistractionFreeMode)

map <Leader>zt <action>(ActivateTerminalToolWindow)
map <Leader>zc <action>(ActivateCommitToolWindow)
map <Leader>zp <action>(ActivateProjectToolWindow)
map <Leader>zg <action>(ActivateVersionControlToolWindow)
map <Leader>zr <action>(ActivateRunToolWindow)
map <Leader>za <action>(ActivateAIAssistantToolWindow)
map <Leader>zn <action>(NewAIChat)


map gc <action>(CommentByLineComment)
map gC <action>(CommentByBlockComment
nnoremap <leader>r :action RenameElement<CR>
